/* CSS 範例
20250506 add by pc */

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}
h1 {
  color: blue;
}

<book>
  <title>½d¨Ò®ÑÄy</title>
  <author>¬Y¬Y¤H</author>
</book>

